html, body, div, table, tr, h1, h2, h3, h4, h5, h6, ul, input, form, select, textarea, img, p, a{margin:0; padding:0; border:0; text-decoration:none;}
body{background:url(../images/back.jpg) repeat; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#wrapper{width:980px; margin:0 auto;  background:#FFFFFF;}
#header{width:980px; float:left; background:#FFFFFF;}
/*================top header===============*/
#top_feader{width:980px; float:left;}
#logo{width:290px; float:left; margin:20px 0 0 20px;}
#wel_admin{width:154px; height:28px; float:left; background:url(../images/admin_back.png) no-repeat; margin:20px 0 0 495px;}
#wel_admin h4{font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:#FFF; float:left; margin:4px 0 0 8px; width:93px;}
#wel_admin ul{width:38px; float:left; margin:3px 0 0 11px; list-style:none;}
#wel_admin ul li{float:left;}
/*===================navigation=============*/
#navigation{float:left; width:980px; background:#f2f2f2; border-bottom:1px solid #dcdcdc; border-top:1px solid #dcdcdc; margin:14px 0 0 0;}
#left_nav{float:left; width:450px; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin:0 0 0 10px;}
#left_nav ul{float:left; list-style:none;}
#left_nav ul li{float:left; color:#666666; height:30px;}
#left_nav ul li a{color:#666; text-decoration:none; margin:0 9px 0 9px; line-height:26px; float:left;}
/*==================left nav end==========*/
#right_nav{width:326px; float:left; margin:0 0 0 187px;}
#download{background:url(../images/download_back.png) no-repeat; width:114px; height:27px; float:left; margin:2px 0 0 0;}
#download strong{color:#7b7b7b; text-transform:uppercase; float:left; margin:5px 0 0 30px;}
#download strong a{color:inherit;}
.count{float:left; margin:4px 0 0 0;}
.count span{float:left; margin:3px 0 0 8px; color:#a9a9a9;}
.count .count1{background:url(../images/blue_block.png) no-repeat; width:37px; height:22px; float:left; margin:0 0 0 8px; text-align:center; padding:2px 0 0 0; color:#FFFFFF; font-weight:bold;}
.count .count2{background:url(../images/red_block.png) no-repeat; width:36px; height:22px; float:left; margin:0 0 0 8px; text-align:center; padding:2px 0 0 0; color:#FFFFFF; font-weight:bold;}
/*==================end of navigation============*/
#lower_header{width:980px; float:left; margin:0 0 10px 0;}
#lower_header table{float:left; margin:10px 0 0 0px; width:980px;}
#lower_header table input{padding:0 0 0 5px; color:#a9a9a9; float:left; height:30px; width:148px;}
#lower_header table td{border:1px solid #eaeaea; height:30px; width:187px; float:left; margin:0 0 0 17px;}
#lower_header table td img{float:left;}
#lower_header table td:last-child{width:90px; margin:0 0 0 20px; border:1px solid #eaeaea;}
#lower_header table input:last-child{width:90px; padding:0 10px 0 10px;}
/*============bottom header ends==================*/
#layout{width:980px; float:left; background:#FFFFFF;}
#layouthd{float:left; width:940px; margin:0 0 10px 20px; border:1px solid #eaeaea;}
#heading h2{float:left; color:#222222; font-size:14px; font-weight:normal; text-transform:uppercase; width:300px; padding:9px 0 8px 20px;}
#heading ul{float:left; width:20px; list-style:none; padding:1px 0 0 590px;}
#heading ul li{margin:0;}
#heading{ border:1px solid #eaeaea; width:938px; float:left; background:#fafafa; }
#layouthd h3{color:#1c1c1c; font-size:12px; width:877px; float:left; margin:20px 0 0 30px;}
#heading2{width:875px; float:left; margin:20px 0 0 30px; border:1px solid #eaeaea;background:#fafafa;}
#heading2 h5{color:#1c1c1c; font-size:12px; width:300px; float:left; font-weight:normal; padding:8px;}
#heading2 select{width:50px; border:1px solid #eaeaea; float:right; margin:5px 0 0 0;}
#layouthd table{width:895px; float:left; margin:18px 0 0 18px; border:1px solid #eaeaea;}
#layouthd table tr.bg1{background:#f9f9f9;}
.bg1{background:#efefef;}
#layouthd table a{color:inherit;}
#layouthd table td{padding:5px 0 3px 10px; border:1px solid #eaeaea;}
#layouthd table td strong{margin:0px 0 0 0; float:left;}
#layouthd table ul{list-style:none; float:right; width:15px; margin:0;}
#layouthd table td .drop{float:right;}
#log{float:left; width:90px;}
/*===============layout head===========*/
#layoutbtm{width:250px; float:left; margin:10px 0 20px 680px;}
#layoutbtm table{text-align:center; border:1px solid #eaeaea;}
#layoutbtm table a{color:inherit;}
#layoutbtm table td{background:#fafafa; border:1px solid #eaeaea;}
/*================layout ends==============*/
#table_top{width:900px; float:left; margin:10px 0 0 30px; border-top:1px solid #eaeaea;}
#table_top table a{color:#0456c6;}
#table_top h2{font-size:20px; color:#222; float:left; margin:10px 0 0 0;}
#table_top table{border:none; float:left; width:890px; margin:0;}
#table_top table td{border:none;}
#table_top table td input{width:450px; background:#fafafa; height:25px; border:1px solid #eaeaea;}
#restriction{width:900px; float:left; margin:10px 0 0 30px; border-top:1px solid #eaeaea;}
#restriction table{border:none; float:left; margin:0; width:890px;}
#restriction table td{border:none;}
#restriction table td input{ border:1px solid #eaeaea; float:left; background:#fafafa; height:24px; text-align:right; padding:0 5px 0 0;}
#restriction table td textarea{background:#fafafa; border:1px solid #eaeaea; width:349px; height:70px;}
#restriction table td img{float:left;}
#restriction table td span{float:left; margin:5px 0 0 5px;}
#restriction table td strong{float:left; margin:5px 0 0 5px; color:#b80000; float:left;}
.table2{width:320px; float:left; margin:0px 0 0 0;}
.table2 span{ color:#0456c6;}
.table3{width:350px; float:left;}
.table3 span{ color:#0456c6;}
.table4{width:250px; float:left; margin:0px 0 0 0;}
.table4 span{margin:50px 0 0 0; color:#b80000;}
#submit{width:500px; float:left; margin:0 0 20px 0;}
#submit table{float:left; width:400px; border:0;}
#submit table input{background:url(../images/button_back.png) no-repeat; width:90px; height:28px; text-align:center; text-transform:uppercase;}
#submit table td{border:none;}
/*===================tabletop ends====================*/
#footer{width:980px; float:left; background:#FFFFFF; Padding-bottom:25px;}
#footerlayout{width:940px; float:left; border:1px solid #eaeaea; margin:0 0 0 20px; padding:10px 0 10px 0;}
#footer_left{font-family:Tahoma, Geneva, sans-serif; color:#a9a9a9; letter-spacing:.5px; width:180px; float:left; margin:0 0 0 20px;}
#footer_right{float:left; width:290px; margin:0 0 0 420px; color:#707070;}
#footer_right a{color:#b4b4b4;}

/*==========download page================*/
#download1{background:#FFFFFF; width:980px; float:left;}
#down_layout{width:940px; float:left; padding:180px 0 210px 40px; background:#FFFFFF;}
#down_logo{float:left; margin:0 0 0 168px; border-bottom:1px solid #333; width:605px; padding:0 0 10px 0;}
#down_main{width:610px; float:left; margin:50px 0 0 168px;}
#down_main h2{font-size:16px; color:#222;}
.protect h1{font-size:48px; color:#1c1c1c; width:370px; float:left;}
.protect ul{float:left; width:124px; list-style:none; margin:25px 0 0 0;}
.protect ul li{float:left; margin:1px;}
/*==file download====*/
.file_download{width:610px; float:left; margin:25px 0 0 0;}
.file{background:url(../images/download2_back.png) no-repeat; width:171px; height:37px; float:left; text-transform:uppercase; color:#FFFFFF; font-size:18px; padding:12px 0 0 55px;}
.file a{color:inherit;}
.describe{width:367px; float:left; margin:0 0 0 10px;}
.describe p{line-height:17px;}
/*=========link profile===========*/
#user{width:550px; float:left; margin:0 0 0 360px;}
#user table{float:left; width:550px;}
#right_table{width:185px; float:right; margin:10px 0 0 0px;}
#right_table table{float:left; width:185px; border:1px solid #eaeaea;}
#right_table table td{ border:1px solid #eaeaea;}
#right_table table td strong{ color:#FFF; font-size:11px; padding:3px;}
#ipaddress{width:877px; float:left; margin:10px 0 0 30px;}
#ipaddress table{width:875px; float:left; margin:5px 0 0 0px; border:none; color:#666666;}
#layoutbtm1{width:200px; float:right; margin:0 38px 0 0;}
#layoutbtm1 table{width:200px; float:right; border:none;}
#view{background:url(../images/button_back.png) no-repeat; width:90px; float:right; height:27px; text-transform:uppercase; text-align:center; line-height:30px; margin:5px 27px 20px 0;
}





.layouthd2{float:left; width:455px; margin:0 0 0 20px; border:1px solid #eaeaea;}
.layouthd2 h2{float:left; color:#222222; font-size:14px; font-weight:normal; text-transform:uppercase; background:#fafafa; border:1px solid #eaeaea; width:435px; padding:9px 0 8px 20px;}
.layouthd2 h3{float:left; color:#222222; font-size:14px; font-weight:normal; width:435px; padding:9px 0 8px 20px;}
.layouthd2 table{width:420px; float:left; margin:18px 0 0 18px; border:1px solid #eaeaea;}
.layouthd2 table tr.bg1{background:#f9f9f9;}
.layouthd2 table a{color:inherit;}
.layouthd2 table td{padding:5px 0 3px 10px; border:1px solid #eaeaea;}
.link{float:right; width:17px; height:30px; margin:0px; padding:0px;}
.blue{color:#0456c6;}
.red{color:#dd0000;}
.break{margin:0 7px 0 7px;}
.view{float:right; width:90px; height:27px; background:url(../images/button_back.png) no-repeat; margin:10px 20px 10px 0;  line-height:27px; text-align:center; }
.view a{font-family:12px; color:#444444;}
.delbtn{
	background:url(../images/smaill_cross.png) no-repeat;
	width:20px;
	geight:20px;
}
.hilightpageno{
	
	color: #FFF;
	
	font-weight: bold;
 
}
 .sty select {
   background: transparent;
   width: 112%;
   padding: 5px;
 
   height: 34px;
}
.sty {
   width: 100%;
   height: 34px;
   overflow: hidden;
   background: url(../images/down_icon.png) no-repeat right #FFF;
}
  .editbtn{
	   background: url(../images/range_icon.png) no-repeat;
	   height:14px;
	   width:15px;
	   border:none;
	   cursor:pointer;
	  
	  }
	  .delbtn{
	   background: url(../images/smaill_cross.png) no-repeat;
	   height:14px;
	   width:15px;
	   border:none;
	   cursor:pointer;
	  
	  }
	  .cleanbtn
	  {
		  background:#efefef;
		  border:none;
		 text-align:center; text-transform:uppercase;
		 font-size:12px;
		  
		  
		}
		.myspan{
			color:#0456c6;
			}